SUBQL_ACCESS_TOKEN= # enter your subquery access token
BLOCK_NUMBER=20325904
CHAIN_ID=114
RPC_URL=https://coston2-api.flare.network/ext/C/rpc
FLIGHT_TICKET_CONTRACT_ADDRESS=0x009C139b7043107f3D826EdABD16d65a7fD9D69e