SUBQL_ACCESS_TOKEN= # enter your subquery access token
BLOCK_NUMBER=20325904
CHAIN_ID=114
RPC_URL=https://coston2-api.flare.network/ext/C/rpc
FLIGHT_TICKET_CONTRACT_ADDRESS=0x7de6Ec2d054746aeAEf1d7f90E468311515A9Bf7